.landingMain {
  height: 100vh;
  padding: 0 15px;
  color: var(--gray-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftCont {
  width: 100%;
}

.rightCont > img {
  display: none;
}

.mainTitle {
  max-width: 350px;
  font-size: 38px;
}

.mainTitle,
.leftCont > p,
.goToHome {
  margin-top: 28px;
}
